<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner 
    [mode]="showProgress ? 'determinate' : 'indeterminate'"
    diameter="50"
    [value]="percentComplete"
    >
  </mat-progress-spinner>
</div>
<mat-form-field>
  <mat-label>Number of users to retrieve</mat-label>
  <mat-select [(value)]="num">
    <mat-option [value]="5">5</mat-option>
    <mat-option [value]="10">10</mat-option>
    <mat-option [value]="20">20</mat-option>
    <mat-option [value]="30">30</mat-option>
    <mat-option [value]="40">40</mat-option>
    <mat-option [value]="50">50</mat-option>
    <mat-option [value]="100">100</mat-option>
  </mat-select>
</mat-form-field>
<mat-checkbox [(ngModel)]="showProgress" labelPosition="before">Show progress</mat-checkbox>   
<div class="commands-container">
  <button mat-stroked-button type="button" color="primary" (click)="run()">Retrieve users</button>
  <button mat-flat-button type="button" (click)="clear()">Clear</button>
</div>

<ul>
  <li *ngFor="let user of users">
    <strong>{{ user.full_name }}</strong>: ${{ user.fees.value }}
  </li>
</ul>
