.settings-section {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 10px 0;
}

.settings-control {
  margin: 0 10px;
}

li {
  margin-bottom: 5px;
}

mat-card {
  margin-bottom: 20px
}

button {
  margin-bottom: 20px;
}