<app-topmenu>
  <div buttons>
    <button mat-flat-button type="button" (click)="addNote()" color="primary" [disabled]="!bib">Add Note</button>
  </div>
</app-topmenu>
<div class="loading-shade" *ngIf="running">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<div>
  <div *ngIf="bib; else nobib">
    <p>Bibliographic record:</p>
    <ul>
      <li><strong>MMS ID: </strong>{{ bib.mms_id }}</li>
      <li><strong>Title: </strong>{{ bib.title }}</li>
      <li><strong>Author: </strong>{{ bib.author }}</li>
    </ul>
  </div>
  <ng-template #nobib>      
      Please navigate to a bibliographic record.
  </ng-template>
</div>