
@import './app/main/main.component.theme';
@import './app/theming/theming.component.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
    @include theming-component-theme($theme, $typography);
}

@mixin global-styles {
  .commands-container {
      margin: 20px 0;
      width: fit-content;
  }

  .spinner {
    float: right;
  }

  .commands-container button {
    margin-right: 10px;
  }
}
