
@import './app/main/main.component.theme';
@import './app/theming/theming.component.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
    @include theming-component-theme($theme, $typography);
}

@mixin global-styles {
  /* Add global styles here */

}
