<app-topmenu>
  <div buttons>
    <button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!(form?.dirty)">Save</button>
  </div>
</app-topmenu>
<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<div *ngIf="form; else noitem">
  <p><strong>BIB Title:</strong> {{ form.get('bib_data.title').value }}</p>
  <form [formGroup]="form">
    <ng-container formGroupName="item_data">  
      <mat-form-field>
        <mat-label>Barcode</mat-label>
        <input matInput formControlName="barcode">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enumeration A</mat-label>
        <input matInput formControlName="enumeration_a">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Chronology I</mat-label>
        <input matInput formControlName="chronology_i">
      </mat-form-field> 
    </ng-container>
  </form>
</div>
<ng-template #noitem>      
  Please navigate to an item record.
</ng-template>