<section>
  <h1>
    CloudApp Tutorials
  </h1>
  <p>This app includes all of the code referenced in the <a href="https://developers.exlibrisgroup.com/cloudapps/tutorials" target="_blank">tutorials section of the CloudApps documentation</a>. The following menu will lead you to the component referenced in the corresponding tutorial:</p>
  <ul>
    <li><a [routerLink]="['newroute']">Adding additional routes</a></li>
    <li><a [routerLink]="['theming']">Using Material components & theming</a></li>
    <li><a [routerLink]="['settings']">Using the Settings Service</a></li>
    <li><a [routerLink]="['parallel']">Making parallel API requests</a></li>
    <li><a [routerLink]="['external']">Reaching outside your app</a></li>
    <li><a [routerLink]="['xml']">Working with bibliographic records in XML</a></li>
  </ul>
</section>
