<section>
  <h1>
    CloudApp Tutorials
  </h1>
  <p>This app includes all of the code referenced in the <a href="https://developers.exlibrisgroup.com/cloudapps/tutorials" target="_blank">tutorials section of the CloudApps documentation</a>. The following menu will lead you to the component referenced in the corresponding tutorial:</p>
  <ul>
    <li><a [routerLink]="['newroute']">Adding additional routes</a></li>
    <li><a [routerLink]="['theming']">Using Material Components & Theming</a></li>
  </ul>
</section>
